<!-- job_search.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Job Listings</h1>
<form method="get" class="mdc-text-field mdc-text-field--outlined">
    {{ form.as_p }}
    <button type="submit" class="mdc-button mdc-button--outlined">Search</button>
</form>
<hr class="mdc-divider"> <!-- Divider line -->
<div id="job-list">
    {% for job in jobs %}
    <div>
        <h2 class="h5">
            <a href="{{ job.link }}" target="_blank">{{ job.title }}</a>
        </h2>
        <p>{{ job.company }} - {{ job.location }}</p>
        <span title="{{ job.description }}">{{ job.description|truncatewords:100|safe }}</span>
        <p>Posted on: {{ job.pub_date }}</p>
        <hr class="mdc-divider"> <!-- Divider line -->
    </div>
</div>
{% endfor %}
</div>
{% endblock %}